# Keycloak
KEYCLOAK_URL=http://keycloak:8080/realms/reports-realm
KEYCLOAK_CLIENT_ID=reports-api
KEYCLOAK_CLIENT_SECRET=change_me

# Keycloak Admin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me

# Keycloak DB
KC_DB_NAME=keycloak_db
KC_DB_USER=keycloak_user
KC_DB_PASSWORD=change_me
